.app-div {
  text-align: center;
  /* background-color: antiquewhite; */
}
body {
  background-color: aliceblue;
}

button {
  margin: 1rem 0;
  background-color: rgb(123, 87, 243);
  color: aliceblue;
  border-radius: 2px;
  border: none;
  padding: 0.3rem 1rem;
  padding: auto;
}
button:hover {
  background-color: rgb(70, 29, 203);
}
